GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/google/callback
FRONTEND_URL=http://localhost:3173
SESSION_SECRET=
ENVIRONMENT=development
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@skillforgeai-0.zw7q1a8.mongodb.net/skillforge?appName=SkillForgeAI-0
MONGODB_DATABASE=skillforge
GEMINI_API_KEY=

